.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 100%;
  text-align:center;
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

nav {
  width: 100%;
}

.navlinks {
  font-family: proxima-nova, sans-serif;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.heroImg {
  height: 400px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.my_header {
  display: grid;
  grid-template-columns: 15% 85%;
  padding-top: 20px;

}

.content {
  width: 800px;
  margin-left: 350px;
  display: grid;
  grid-template-columns: 95% 5%;
}

#download {
  background-color: #5B09CB;
  width: 200px;
  height: 50px;
  padding: 12px;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  
}

h1 {
  font-size:50px;
  font-family: 'Poppins', sans-serif;
  line-height: 60px;
}

h2 {
  font-size:22px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  line-height: 30px;
  margin-bottom:30px;
  margin-top: 30px;
}

h3 {
  font-size:30px;
  font-family: 'Poppins', sans-serif;
  margin-left: 300px;
  padding-top: 50px;
  padding-left: 50px;
}

h4 {
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
}

.inline-block {
  display:flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.links {
  background-color: #301667;
  height: 100px;
}

.paragraph {
  padding-top: 50px;
}

.mySkills {
  background-color: #F8F9FB;
  height:250px;
}

.skills {
  width:1200px;
  margin-left: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.firstColumn {
  padding-top: 50px;
  padding-left: 50px;
  font-size:20px;
  font-family: proxima-nova, sans-serif;
  line-height: 25px;
  
}

.secondColumn {
  padding:50px;
  font-size:20px;
  font-family: proxima-nova, sans-serif;
  line-height: 25px;
}

.thirdColumn {
  padding-left: 50px;
  padding-top: 50px;
  font-size:20px;
  font-family: proxima-nova, sans-serif;
  line-height: 25px;
}

.workGrid {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display:grid;
}
.projectOne {
  padding: 50px;
  margin-left: 300px;
  height: 400px;
  display:grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "ftc pt" ;
  justify-content: flex-start;
}

.projectOne .text {
  grid-area: pt;
}

.projectTwo {
  padding: 50px;
  margin-left: 300px;
  height: 400px;
  display:grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "rest ptwo";
  justify-content: flex-start;
}

.projectTwo .text {
  grid-area: ptwo;
}

.imageOne img {
  width:100%;
  margin-bottom:100px;
  border-radius: 3px;
}

.imageOne {
  grid-area: ftc;
}

.imageTwo img {
  width:100%;
  margin-bottom:100px;
  border-radius: 3px;
}

.imageTwo {
  grid-area: rest;
}

.text {
  margin-left:25px;
  margin-bottom:100px;
  width:100%;
  max-width:600px;
  height:300px;
  padding: 50px;
}

.readMore {
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-color: #5B09CB;
  color: #5B09CB;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 3px;
  border-style: double;
  width:138px;
  position:relative;
  overflow:hidden;
  z-index:10;
  cursor:pointer;
}
.readMore:hover .circle {
  transform:scale(300);
  animation-play-state: running;
}
.readMore .circle {
  position:absolute;
  top:0;
  left:0;
  height:1px;
  width:1px;
  transform: scale(0);
  background: #EBC8FA;
  border-radius: 50%;
  transition: transform 0.7s ease;
  z-index:-1;
  animation: 5s filter infinite;
  animation-play-state: paused;
}

@keyframes filter {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#ux {
  background-color: #EBC8FA;
  color: #5B09CB;
  font-size: 14px;
  font-weight: 900px;
  height: 37px;
  width:74px;
  padding: 7px;
  border-radius: 37px;
  border: none;
  justify-content: center;
  text-transform: uppercase;
  font-family: proxima-nova, sans-serif;
}

#caseStudy {
  background-color: #EBC8FA;
  color: #5B09CB;
  font-size: 14px;
  font-weight: 700px;
  height: 37px;
  border: none;
  width:138px;
  padding: 5px;
  border-radius: 72px;
  justify-content: center;
  text-transform: uppercase;

}

#websiteRedesign {
  background-color: #EBC8FA;
  color: #5B09CB;
  font-size: 14px;
  font-weight: 700px;
  height: 37px;
  width:189px;
  padding: 5px;
  border-radius: 72px;
  border:none;
  justify-content: center;
  text-transform: uppercase;

}

#mobileApp {
  background-color: #EBC8FA;
  color: #5B09CB;
  font-size: 14px;
  font-weight: 700px;
  height: 37px;
  width:189px;
  padding: 5px;
  border-radius: 72px;
  border: none;
  justify-content: center;
  text-transform: uppercase;

}

#ui {
  background-color: #EBC8FA;
  color: #5B09CB;
  font-size: 14px;
  font-weight: 700px;
  height: 37px;
  width:74px;
  padding: 7px;
  border-radius: 37px;
  border: none;
  justify-content: center;
  text-transform: uppercase;
  font-family: proxima-nova, sans-serif;
}

.text h1 {
  font-size: 30px;
}

.text h2 {
  margin-top:30px;
}

.contact {
  background-color: #F8F9FB;
  padding-top:75px;
  padding-bottom: 75px;
}

.contact h1 {
  margin-left: 350px;
  margin-bottom: 30px;
}

.contact h4 {
  margin-left: 350px;
}

#letsChat {
  background-color: #5B09CB;
  width: 200px;
  height: 50px;
  padding: 12px;
  color: white;
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
  border-radius: 3px;
  justify-content: center;
  margin-left: 350px;
}

.navlinksFooter {
  font-family: proxima-nova, sans-serif;
  width: 100px;
  text-decoration: none;
  color: white;
  padding-top:30px;
 
}

.fa {
  color: white;
  padding: 30px;
  font-size: 100px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.footer {
  color:white;
  padding: 30px;
  margin-left: 30px;
}

.bottomNav {
  display: flex;
  background-color: #301667;
  height:200px;

}

.socialMedia {
  width: 45%;
  margin-left: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.copyright {
  width: 15%;
}

.bottomLinks {
  width: 40%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.copyright {
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  color: white;
  line-height: 20px;
  padding-right:20px;
}


@media only screen and (max-width: 600px)  
{ 
   body {
     background-color: palevioletred;
   }

   .content {
    margin-left: 10px;
    width: 90%;
    
  }

   h1 {
    font-size: 28px;
   }
     
.projectOne {
  margin-left: 0px;
  width:100%;
  justify-content: flex-start;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "ftc"
  "textOne";
}

.projectTwo {
  margin-left: 0px;
  width:100%;
  justify-content: flex-start;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "rest"
  "textTwo";
}

.text {
  display: grid;
}

.imageOne {
  background-color: peru;
  grid-area: ftc;
  width: 100%;
  display: grid;
}

.imageTwo {
  background-color: red;
  grid-area: rest;
  width: 100%;
  display: grid;
}

.projectOne text {
  grid-area: textOne;
  background-color: salmon;
  display: grid;
}

.projectTwo text {
  grid-area: textTwo;
  background-color: slateblue;
  display: grid;
}

.contact h1 {
  margin-left: 10px;
}

.contact h4 {
  margin-left: 10px;
}

}
